.contact-title {
  color: #8d1b3d;
}
.contact-text {
  margin: 0;
}
.contact-icon {
  margin: 0 5px;
  text-align: center;
  color: #8d1b3d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(141, 27, 61, 0.2);
  padding: 1.2rem;
  border-radius: 50%;
}
