.contact-banner {
  background-color: #f9f9f9;
  background: linear-gradient(45deg, #481328 0%, #000320 100%),
    radial-gradient(100% 225% at 100% 0%, #ff6928 0%, #481328 100%),
    linear-gradient(225deg, #481328 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 10%,
      #cdffeb 35%,
      #009f9d 35%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #481328 67%,
      #481328 100%
    );
  background-blend-mode: screen, overlay, hard-light, normal;
}
.contact-b-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 576px) {
  .contact-b-title {
    text-align: center;
    font-size: 2rem;
  }
}
