.section-title {
  font-size: 3rem;
  font-weight: 600;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 150px;
  background-color: #de9263;
  left: 2px;
  bottom: -10px;
}

.section-title.green {
  color: #8d1b3d;
}
@media (max-width: 576px) {
  .section-title {
    font-size: 2rem;
  }
}
