.hero-banner {
  background-color: #19132a;
  background: linear-gradient(
      125deg,
      hsl(255deg 14% 35%) 0%,
      hsl(256 38% 20% / 1) 40%,
      #480d24 70%,
      #f0ffc5 100%
    ),
    linear-gradient(55deg, hsl(256 38% 12% / 1) 0%, hsl(256 38% 4% / 1) 100%),
    linear-gradient(300deg, #356da1 0%, hsl(256 38% 12% / 1) 100%),
    radial-gradient(
      135% 215% at 115% 40%,
      #393939 0%,
      #393939 40%,
      #849561 calc(40% + 1px),
      #849561 60%,
      #eed690 calc(60% + 1px),
      #eed690 80%,
      #ecefd8 calc(80% + 1px),
      #ecefd8 100%
    ),
    linear-gradient(
      125deg,
      #282d4f 0%,
      #480d24 40%,
      #23103a calc(40% + 1px),
      #23103a 70%,
      #19132a calc(70% + 1px),
      #480d24 88%,
      #19132a calc(88% + 1px),
      #480d24 100%
    );
  background-blend-mode: overlay, screen, overlay, overlay, normal;
}
.hero-banner,
.hero-banner .title-box,
.hero-banner .img-box,
.sol-img-wrapper {
  height: 90vh;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

/* banner images */
.banner-img,
.sol-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 576px) {
  .hero-banner .title-box {
    height: 30vh;
  }

  .hero-banner .img-box {
    max-width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .banner-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .hero-banner .title-box {
    height: 30vh;
  }
  .hero-banner .img-box {
    max-width: 100%;
    height: 60vh;
  }
  .banner-img,
  .sol-img {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .banner-img,
  .sol-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
  }
}
@media (max-width: 576px) {
  .hero-banner .title-box {
    height: 30vh;
  }

  .hero-banner .img-box {
    max-width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
} /* ==== Inner page banners ==== */
.contact {
  /* background-image: url("/images/contact.png"); */
  background-image: url("/images/contactus.svg");
}

.career {
  background-image: url("/images/careers.svg");
}

.job-description {
  background-image: url("/images/job-details.png");
}

.about {
  background-image: url("/images/about2.svg");
}
/* ==== service details page banners ==== */

/* 2. Artificial Intelligence */
.ai {
  /* background-image: url("/images/service-pages/2.png"); */
  background-image: url("/images/service-pages/ai-new.svg");
}
.ai-sol {
  background-image: url("/images/service-pages/16-sol.png");
}

/* 3. Optical Character Recognition */
.ocr {
  /* background-image: url("/images/service-pages/16.png"); */
  background-image: url("/images/service-pages/ocr.svg");
}
.ocr-sol {
  background-image: url("/images/service-pages/15-sol.png");
}

/* 4. Blockchain */
.blockchain {
  /* background-image: url("/images/service-pages/11.png"); */
  background-image: url("/images/service-pages/blockchain.svg");
}
.blockchain-sol {
  background-image: url("/images/service-pages/9-sol.svg");
}

/* 6. Bigdata */
.bigdata {
  /* background-image: url("/images/service-pages/9.png"); */
  background-image: url("/images/service-pages/bigdata.svg");
}
.bigdata-sol {
  background-image: url("/images/service-pages/17-sol.png");
}

/* 13. software development */
.software {
  /* background-image: url("/images/service-pages/1.png"); */
  background-image: url("/images/service-pages/software-new2.svg");
}
.software-sol {
  background-image: url("/images/service-pages/14-sol.png");
}
/* 14. Mobile app development */
.mobile {
  /* background-image: url("/images/service-pages/12.png"); */
  background-image: url("/images/service-pages/mobile-app.svg");
}
.mobile-sol {
  background-image: url("/images/service-pages/5-sol.png");
}

/* 17. Outsourcing */
.outsource {
  /* background-image: url("/images/service-pages/24.png"); */
  background-image: url("/images/service-pages/outsource-new2.svg");
}
.outsource-sol {
  background-image: url("/images/service-pages/12-sol.jpg");
}

/* 19. System Infra */
.infra {
  background-image: url("/images/service-pages/15.png");
  background-image: url("/images/service-pages/system-infra.svg");
}
.infra-sol {
  background-image: url("/images/service-pages/18-sol.png");
}

/* 20. End user computing */
.enduser {
  /* background-image: url("/images/service-pages/14.png"); */
  background-image: url("/images/service-pages/end-user.svg");
}
.enduser-sol {
  background-image: url("/images/service-pages/11-sol.jpg");
}

/* Cloud Services */
.cloud-service {
  /* background-image: url("/images/service-pages/cloud-service.png"); */
  background-image: url("/images/service-pages/cloud-new2.svg");
}
.cloud-service-sol {
  background-image: url("/images/service-pages/cloud-service-sol.png");
}

/* Contact Center Service */
.contact-center {
  background-image: url("/images/service-pages/contact-center.svg");
}
.contact-center-sol {
  background-image: url("/images/service-pages/contact-center-sol.svg");
}

/* IT Infra Help Desk */
.it-infra-help-desk {
  background-image: url("/images/service-pages/it-infra-help-desk.svg");
}
.it-infra-help-desk-sol {
  background-image: url("/images/service-pages/it-infra-help-desk-sol.svg");
}

/* Network and Telecom */
.network-and-telecom {
  background-image: url("/images/service-pages/network-and-telecom.svg");
}
.network-and-telecom-sol {
  background-image: url("/images/service-pages/network-and-telecom.svg");
}

/* Storage Service */
.storage-service {
  /* background-image: url("/images/service-pages/storage-service.svg"); */
  background-image: url("/images/service-pages/storage.svg");
}
.storage-service-sol {
  background-image: url("/images/service-pages/storage-service-sol.svg");
}

/* Cyber Security */
.cyber-security {
  /* background-image: url("/images/service-pages/cyber-security.png"); */
  background-image: url("/images/service-pages/cyber-new.svg");
}
.cyber-security-sol {
  background-image: url("/images/service-pages/cyber-security-sol.jpg");
}
/* Network Security */
.network-security {
  /* background-image: url("/images/service-pages/network-security.png"); */
  background-image: url("/images/service-pages/network-security.svg");
}
.network-security-sol {
  background-image: url("/images/service-pages/network-security-sol.jpg");
}
/* Data Center */
.data-center {
  /* background-image: url("/images/service-pages/data-center.png"); */
  background-image: url("/images/service-pages/data-center.svg");
}

.data-center-sol {
  background-image: url("/images/service-pages/data-center-sol.svg");
}
/* IOT */
.iot {
  background-image: url("/images/service-pages/iot.png");
}
.iot-sol {
  background-image: url("/images/service-pages/iot-sol.svg");
}

/* 1. Robotic Process Automation */
.rpa {
  /* background-image: url("/images/service-pages/rpa.png"); */
  background-image: url("/images/service-pages/rpa.svg");
}
.rpa-sol {
  background-image: url("/images/service-pages/rpa-sol.svg");
}
.staffing {
  background-image: url("/images/service-pages/staff.svg");
}
.staffing-sol {
  background-image: url("/images/service-pages/staff-sol.svg");
}
