/* company stats */
.stat-title {
  font-size: 4rem;
  font-weight: 700;
  color: hsl(237, 96%, 68%);
}

.stat-caption {
  font-size: 1.2rem;
  color: hsl(256, 38%, 35%);
}

.stats-wrapper {
  background-color: #f8fbff;
}

.stat-title {
  font-size: 2.5rem;
}
.stat-caption {
  font-size: 1rem;
}
.project-icon {
  height: 70px;
}
.process-icon {
  height: 50px;
}
.stats {
  min-height: 206px;
}
