/* company stats */
.stat-title {
  font-size: 3.2rem;
  font-weight: 500;
  color: #19132a;
}

.stat-caption {
  font-size: 1.3rem;
  color: hsl(256, 38%, 35%);
}

.stats-wrapper {
  background-color: #f8fbff;
}
.stat-icon {
  font-size: 2.5rem;
  color: #1d6da2;
}
.process-icon {
  height: 50px;
  margin-right: 1rem;
}
.projects-icon {
  height: 70px;
}
.clients-icon {
  height: 50px;
  margin-right: 1rem;
}
