.ind-wrapper {
  /* height: 70vh;
  min-height: 550px; */
  height: max(70vh, 550px);
}

.left-block {
  background-color: #b4a7d7;
}
.right-block {
  background-color: #19132a;
  color: #f9f9f9;
}
.right-block h3 {
  color: #f9f9f9;
  font-size: 2.5rem;
}
.right-block p {
  color: #a5a5a5;
}
.ind-section-title {
  color: hsl(256, 38%, 45%);
  font-weight: 600;
}
.ind-menu-card.active {
  background-color: hsl(256, 38%, 75%);
  color: #19132a;
}
.ind-menu-card {
  cursor: pointer;
  background-color: hsl(256, 38%, 15%);
  color: #a5a5a5;
  padding: 2.5rem 0.4rem;
}
.ind-text {
  min-height: 96px;
}

@media (max-width: 576px) {
  .ind-wrapper {
    height: auto;
  }
}
