.ind-wrapper {
  /* height: 70vh;
  min-height: 550px; */
  height: max(70vh, 550px);
}

.left-block {
  background-color: #b4a7d7;
}
.right-block {
  background-color: #19132a;
  color: #f9f9f9;
}
.right-block h3 {
  color: #f9f9f9;
  font-size: 2.5rem;
}
.right-block p {
  color: #a5a5a5;
}
.ind-section-title {
  color: hsl(256, 38%, 45%);
  font-weight: 600;
}
.ind-menu-card.active {
  background-color: hsl(256, 38%, 75%);
  color: #19132a;
}
.ind-menu-card {
  cursor: pointer;
  background-color: hsl(256, 38%, 15%);
  color: #a5a5a5;
  padding: 2.5rem 0.4rem;
  box-shadow: 0px 0px 1px 1px hsl(256, 38%, 50%) !important;
}
.ind-text {
  min-height: 96px;
}
.ind-img img {
  max-width: 100%;
}

@media (max-width: 576px) {
  .ind-wrapper {
    height: auto;
  }
  .ind-section-title {
    font-size: 1.6rem;
  }
  .ind-img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
  .ind-menu-card {
    padding: 1rem 0rem;
    box-shadow: 0px 0px 2px 1px #b4a7d7 !important;
  }
  .right-block h3 {
    font-size: 2rem;
  }
}
