.about-banner {
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 80vh; */
  background-position: center;
  /* background-image: url("/images/about2.svg"); */
  background-image: url("/images/aboutus/aboutus4.svg");
  width: 140%;
}
.overview-wrapper {
  background-color: #f9f9f9;
}
.overview-wrapper p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #19132a;
}
.title-highlight {
  color: #4d77a3;
}
/* .mission-outer {
  position: relative;
  height: 500px;
}
.mission-inner {
  background-color: #19132a;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 425px;
}

.mission-inner img {
  height: 400px;
  padding: 10px;
  background-color: #f9f9f9;
}
.mission-title {
  color: #8d1b3d;
  font-size: 2.5rem;
}
.mission-text {
  color: #ffffff;
  font-size: 1.2rem;
} */

.h-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.h-title-dark,
.h-title-green {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0.2rem;
}
.h-title-dark {
  background-color: #1e6da2;
}
.h-title-green {
  background-color: #8d1b3d;
}

.h-title-dark.plan {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.h-title-dark.feedback {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.hw-card {
  position: relative;
}
.h-card-content {
  position: absolute;
  min-height: 252px;
}
.h-top {
  bottom: 70px;
  background-color: hsl(204, 69%, 88%);
  padding: 1rem;
}
.h-bottom {
  top: 70px;
  padding: 1rem;
  background-color: hsl(342, 68%, 88%);
}
.h-bottom:nth-child(odd) {
  background-color: hsl(205, 72%, 90%);
}
.m-btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  color: #8d1b3d;
}
.m-btn-active {
  font-weight: 700;
  font-size: 1.2rem;
}
.m-btn:active {
  outline: none;
  border: none;
  box-shadow: none;
}
.m-btn:focus {
  outline: none;
}
.m-img::before {
  content: "";
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}
/* .hero-banner img {
  min-width: 600px;
} */

/* Rotating text styles */
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.title-green {
  color: #8d1b3d !important;
}

@media (max-width: 576px) {
  .mission-inner {
    position: static;
    top: unset;
    left: unset;
    transform: unset;
    height: 100%;
  }
  .mission-links {
    position: static;
  }
  .mission-outer {
    height: auto;
  }
  .mission-outer {
    margin: 0.5rem 0;
  }
  .c-icon {
    height: 60px;
    width: 60px;
    padding: 2.5rem;
  }
  .c-title {
    font-size: 1.4rem;
  }
  .h-card-content {
    position: static;
  }
  .hw-card {
    position: static;
  }
  .h-wrapper {
    height: auto;
    padding-top: 1.5rem;
  }
  .h-title-dark.plan {
    border-radius: unset;
  }
  .h-title-dark.feedback {
    border-radius: unset;
  }
  .h-card-content {
    height: 150px !important;
    min-height: 150px;
  }
}

/* linear-gradient(
      125deg,
      hsl(255deg 14% 35%) 0%,
      hsl(256 38% 20% / 1) 40%,
      #480d24 70%,
      #f0ffc5 100%
    ),
    linear-gradient(55deg, hsl(256 38% 12% / 1) 0%, hsl(256 38% 70% / 1) 100%),
    linear-gradient(300deg, #356da1 0%, hsl(256 38% 12% / 1) 100%),
    radial-gradient(
      135% 215% at 115% 40%,
      #393939 0%,
      #393939 40%,
      #849561 calc(40% + 1px),
      #849561 60%,
      #eed690 calc(60% + 1px),
      #eed690 80%,
      #ecefd8 calc(80% + 1px),
      #ecefd8 100%
    ),
    linear-gradient(
      125deg,
      #282d4f 0%,
      #480d24 40%,
      #23103a calc(40% + 1px),
      #23103a 70%,
      #19132a calc(70% + 1px),
      #480d24 88%,
      #19132a calc(88% + 1px),
      #480d24 100%
    ) */

/* linear-gradient(
      125deg,
      hsl(255deg 14% 35%) 0%,
      hsl(256 38% 20% / 1) 40%,
      hsl(337 69% 80% / 1) 70%,
      #f0ffc5 100%
    ),
    linear-gradient(55deg, hsl(256 38% 59% / 1) 0%, hsl(256 38% 70% / 1) 100%),
    linear-gradient(300deg, #356da1 0%, hsl(256 38% 12% / 1) 100%),
    radial-gradient(
      135% 215% at 115% 40%,
      #393939 0%,
      #393939 40%,
      #849561 calc(40% + 1px),
      #849561 60%,
      #eed690 calc(60% + 1px),
      #eed690 80%,
      #ecefd8 calc(80% + 1px),
      #ecefd8 100%
    ),
    linear-gradient(
      125deg,
      #282d4f 0%,
      #480d24 40%,
      #23103a calc(40% + 1px),
      #23103a 70%,
      #19132a calc(70% + 1px),
      #480d24 88%,
      #19132a calc(88% + 1px),
      #480d24 100%
    ) */
