.c-overview-wrapper {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-overview-text {
  text-align: center;
  font-weight: 600;
}

.c-section-title {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}

.c-section-title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 150px;
  background-color: #de9263;
  left: 2px;
  bottom: -10px;
}

.join-us-wrapper {
  background: #f9f9f9;
}
.c-title-border {
  border-right: 1px solid rgba(222, 146, 99, 0.3);
}
.join-title {
  color: #481328;
}
.join-us-points {
  list-style-type: none;
  margin: 0;
}
.join-us-points li {
  padding: 0.5rem 0;
}
.arrow-wrapper {
  background-color: rgba(72, 19, 40, 0.1);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 1rem;
}
.arrow-right {
  color: #481328;
}
.join-us-text {
  font-size: 1.1rem;
  line-height: 1.8;
}

.imgstyle {
  width: 100%;
}

/*  */

@media (max-width: 1024px) {
  .join-us-text {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .c-title-border {
    border-right: none;
  }
  .c-overview-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .c-overview-text {
    font-size: 1rem;
  }
  .join-us-points {
    padding-left: 0;
  }
  .job-card {
    margin: 0.5rem 0;
  }
  .job-title {
    font-size: 1.3rem;
  }
}
