.home-banner {
  height: 90vh;
  width: 100%;
  max-width: 99vw;
}
.banner-img {
  max-height: 90vh;
  width: 100%;
}

@media (max-width: 576px) {
  .welcome-title {
    font-size: 1.5rem;
  }
  .brand {
    font-size: 2rem;
  }
  .poc-title {
    font-size: 1.3rem;
  }
  .poc-title-bg {
    font-size: 1.7rem;
  }
  .poc-letter {
    display: none;
  }

  .service-title {
    font-size: 2rem;
  }
  .service-title span {
    font-size: 1.5rem;
  }
  .service-slider {
    height: 85vh;
  }
  .slick-arrow {
    display: none !important;
  }
}
