.home-banner {
  height: 90vh;
  width: 100%;
  max-width: 99vw;
}
.banner-img {
  max-height: 90vh;
  width: 100%;
}
.overview {
  background-color: #ebf3ff;
}
@font-face {
  font-family: "NeuropoliticalRg-Regular";
  src: url("../fonts/NeuropoliticalRg-Regular.ttf");
  font-display: swap;
}
.welcome-title {
  color: #8d1b3d;
  font-size: 1.5rem;
}
.brand {
  font-family: "NeuropoliticalRg-Regular", sans-serif;
  font-size: 2.5rem;
}
.welcome-text {
  font-size: 1.2rem;
  text-align: justify;
}

.poc-wrapper {
  background: linear-gradient(123deg, #ffffff 0%, #002a5a 100%),
    linear-gradient(236deg, #c5c5c5 0%, #481328 100%),
    linear-gradient(180deg, #ffffff 0%, #002a5a 100%),
    linear-gradient(
      225deg,
      #250914 20%,
      #002a5a 45%,
      hsl(205, 100%, 20%) 45%,
      #280f34 70%,
      #481328 70%,
      #481328 85%,
      #481328 85%,
      #481328 100%
    ),
    linear-gradient(
      135deg,
      #0e0220 15%,
      #0e0220 35%,
      #8d1b3d 35%,
      #8d1b3d 60%,
      #48e0e4 60%,
      #48e0e4 68%,
      #d7fbf6 68%,
      #d7fbf6 100%
    );
  background-blend-mode: overlay, overlay, overlay, darken, normal;
  color: #a5a5a5;
  font-size: 1.05rem;
  line-height: 1.6;
}
.poc-title {
  font-size: 1.5rem;
  /* color: #8d1b3d; */
  color: #d5d5d5;
}
.poc-title-bg {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
.poc-card-title {
  color: #ffffff;
}
/*
.poc-letter-wrapper {
  position: relative;
}
.poc-letter {
  font-size: 7rem;
  position: absolute;
  top: -20px;
  left: 0px;
  color: #c5c5c591;
  color: rgba(141, 27, 61, 0.2);
  font-family: "Roboto", sans-serif;
} */
/* our services slider */
.service-img img {
  height: 500px;
  width: 750px;
}
.service-title {
  font-size: 3rem;
  font-weight: 600;
  color: #8d1b3d;
}
.service-title span {
  font-size: 2rem;
  font-weight: 500;
}
.s-banner-indicators li {
  height: 15px;
  width: 15px;
  margin: 0 0.5rem;
  background-color: #481328;
  border-radius: 50%;
  bottom: -30px;
}
.s-banner-indicators {
  bottom: -20px;
}
/* company stats */
.stat-title {
  font-size: 4rem;
  font-weight: 700;
  /* color: #19132a; */
  color: #0511f2;
}

.stat-caption {
  font-size: 1.2rem;
  color: hsl(256, 38%, 35%);
}

.stats-wrapper {
  background-color: #f8fbff;
}

.client {
  max-height: 70px;
}

@media (max-width: 576px) {
  .welcome-title {
    font-size: 1.5rem;
  }
  .brand {
    font-size: 2rem;
  }
  .poc-title {
    font-size: 1.3rem;
  }
  .poc-title-bg {
    font-size: 1.7rem;
  }
  .poc-letter {
    display: none;
  }
  .stat-title {
    font-size: 2.5rem;
  }
  .stat-caption {
    font-size: 1rem;
  }
  .service-title {
    font-size: 2rem;
  }
  .service-title span {
    font-size: 1.5rem;
  }
  .service-slider {
    height: 85vh;
  }
  .slick-arrow {
    display: none !important;
  }
}
