.home-banner {
  height: 90vh;
  width: 100%;
  max-width: 99vw;
}
.banner-img {
  max-height: 90vh;
  width: 100%;
}

.h-banner-indicator {
  transition: all 0.3s ease-in-out;
  left: unset;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1%;
}
.h-banner-indicator.carousel-indicators .active {
  width: 50px !important;
}
.banner-carousel .carousel-item {
  height: 90vh;
  position: relative;
}
.home-banner-title {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(0%, -50%);
  color: #f4f4f4;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
  /* text-align: center; */
  width: 100%;
}
.hero-slide {
  background: linear-gradient(
      125deg,
      hsl(255deg 14% 35%) 0%,
      hsl(256 38% 20% / 1) 40%,
      #480d24 70%,
      #f0ffc5 100%
    ),
    linear-gradient(55deg, hsl(256 38% 12% / 1) 0%, hsl(256 38% 4% / 1) 100%),
    linear-gradient(300deg, #356da1 0%, hsl(256 38% 12% / 1) 100%),
    radial-gradient(
      135% 215% at 115% 40%,
      #393939 0%,
      #393939 40%,
      #849561 calc(40% + 1px),
      #849561 60%,
      #eed690 calc(60% + 1px),
      #eed690 80%,
      #ecefd8 calc(80% + 1px),
      #ecefd8 100%
    ),
    linear-gradient(
      125deg,
      #282d4f 0%,
      #480d24 40%,
      #23103a calc(40% + 1px),
      #23103a 70%,
      #19132a calc(70% + 1px),
      #480d24 88%,
      #19132a calc(88% + 1px),
      #480d24 100%
    );
  background-blend-mode: overlay, screen, overlay, overlay, normal;
}
.slide-1 {
  /* background-image: url("../../../static/images/home-banner/img1.jpg"); */
  /* background-image: url("../../../static/images/home-banner/pic1.jpg"); */
  background-size: cover;
  background-position: center;
}
.slide-2 {
  /* background-image: url("../../../static/images/home-banner/img2.jpg"); */
  background-size: cover;
  background-position: center;
}
.slide-3 {
  /* background-image: url("../../../static/images/home-banner/img3.png"); */
  background-size: cover;
  background-position: center;
}
@media (max-width: 576px) {
  .slide-1 {
    background-image: unset;
    background-color: #19132a;
  }
  .slide-2 {
    background-image: unset;
    background-color: #19132a;
  }
  .slide-3 {
    background-image: unset;
    background-color: #19132a;
  }
  .home-banner-title {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
  }
  .h-banner-indicator {
    transition: all 0.3s ease-in-out;
    left: unset;
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1%;
  }
}
